<div class="container p-2 my-5 align-items-center row">
  <img class="col col-4" src="https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1035&q=80">
  <div class="jumbotron col text-center">
    <h1 class="display-4">Current Categories</h1>
    <% @categories.each do |category| %>
      <p class="display-5"><%= category.name %></p>
    <% end %>
    <%= link_to 'Add Category', new_admin_category_path, class: 'display-4 btn btn-secondary display-2 py-2 px-4' %>
  </div>
</div>
