<div class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Jungle</h1>
    <p class="lead">Your ultimate buying platform for plants! We offer a lush and vibrant online marketplace, catering to both experienced gardeners and plant enthusiasts.</p>
    <hr class="my-4">
    <p>With a wide range of meticulously curated plant varieties, from elegant orchids to air-purifying foliage, we provide the healthiest specimens and the knowledge to care for them. Our commitment to sustainability ensures that each plant is responsibly sourced from dedicated growers. Join our green community and fill your life with the serenity and enchantment that only plants can provide. Happy planting!</p>
  </div>
</div>
